/***** NAVBAR *****/
.navbar-default {
  background-color: white;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  border-radius: 0;
  background-image: none;
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: #6bd3b9;
  font-size: 28px;
  font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #6bd3b9;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
  color: #9c9c9c;
  font-size: 16px;
}

.jumbotron {
    border-top: 1px solid #e8e8e8;
    background-image: url("../assets/cartographer_@2X_inverse.png");
    background-size: 30%;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    color: inherit;
    padding: 2%;
}

/* REVIEW */
header {
  background-image: url("../assets/NZ (68).jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .intro-text {
  padding-top: 75px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
header .intro-text .main-text {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 26px;
    margin-top: 100px;
    margin-bottom: 300px;
}
/* REVIEW */

/*** About pieces ***/
.about-thumbnail {
  background-color: #fff;
  width: 95%;
}

.about-title {
  font-weight: bold;
}

.about-description {
}

.about-image {
}

h1 {
	color: #9c9c9c;
	font-size: 30px;
}

hr {
    border-color: #e8e8e8;
    border-width: 2px;
}

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
    border-bottom: 1px solid #e8e8e8;
    background-image: url("../assets/cartographer_@2X_inverse.png");
    background-size: 30%;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #6bd3b9;
}

about-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #6bd3b9;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
about-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}

.img-circle {
    border-radius: 50%;
    align-content: .center-block
}